<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.label/leaflet.label.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <h3>Mexico Test Map</h3>
            </li>
            <li>
        
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="container">
      <div id="sidebar">
        <div class="sidebar-wrapper">
          <div id="features" class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Recordings</h3>
            </div>
          </div>
        </div>
      </div>
      <div id="map"></div>
    </div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet-src.js"></script>
    <script src="http://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>
    <script type="text/html" id="popup-template">
      <div class="audio-popup">
          <h2><%= name %></h2>
        
          <audio src="<%= PATH_2 %>" controls ></audio>
      </div>
      </script>
    <script src="script.js"></script>

    

      <script src="https://cdn.jsdelivr.net/lodash/4.16.2/lodash.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<script>
  
</script>

  </body>
</html>
